<div class="sidebar">
    <div class="container sidebar-sticky">
      <nav class="sidebar-nav">
        {% assign pages_list = site.data.navigation %}
        {% for node in pages_list %}
          <a class="sidebar-nav-item{% if page.url == node.link %} active{% endif %}" href="{{ node.link }}">{{ node.name }}</a>
        {% endfor %}
      </nav>

      <a href="https://www.linkedin.com/in/ieva-grazuleviciute/">
        <img src="/assets/images/linkedin-150.png" alt="My Linkedin profile" height=36 align-items="flex-end" display="flex">
      </a>
    </div>
</div>
  